:root {
    --gradient-x: 0;
    --gradient-y: 0;
}

body {
    background-color: var(--bg-clr);
}

main {
	display: grid;
    grid-template-columns: 1em 1fr 1em;
    grid-template-rows: 1em 1fr 1em;
    place-items: end start;
    
	min-height: 100vh;
}

main nav {
    grid-area: 2 / 2;
}

.bg-text {
    position: absolute;
    inset: 1em;
    border-radius: 2em;
    overflow: hidden;

    word-wrap: break-word;
    color: lightgray;
    font-family: monospace;

    mask-image: radial-gradient(
        circle at var(--gradient-x) var(--gradient-y), 
        rgb(255 255 255) 1%, 
        rgb(255 255 255 / 15%) 25%, 
        rgb(255 255 255 / 15%), 
        transparent
      );
    pointer-events: none;
}

nav {
	display: flex;
	flex-direction: column;
	gap: 1em;
	padding: clamp(4em, 10vw, 300px);
}

nav:hover a {
	opacity: 0.8;
}

nav a {
	color: rgb(232, 232, 232);
	font-size: 3em;
	text-decoration: none;
	cursor: pointer;

    transform-origin: center left;
    transition: 600ms;
}

nav a:hover {
	opacity: 1;
    scale: 2;
}

